# Volume 18

### Limpeza e tratamento de dados

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
dados_ambev = yf.download("ABEV3.SA")
dados_ambev

/tmp/ipykernel_170045/1602556295.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados_ambev = yf.download("ABEV3.SA")
[*********************100%***********************]  1 of 1 completed

Price         Close     High      Low     Open    Volume
Ticker     ABEV3.SA ABEV3.SA ABEV3.SA ABEV3.SA  ABEV3.SA
Date
2025-09-09    12.33    12.37    12.11    12.11  47583700
2025-09-10    12.36    12.50    12.25    12.26  40403300
2025-09-11    12.52    12.57    12.41    12.48  28340200
2025-09-12    12.58    12.60    12.43    12.43  24015800
2025-09-15    12.63    12.70    12.55    12.58  37293700
2025-09-16    12.71    12.78    12.66    12.70  40985200
2025-09-17    12.79    12.88    12.65    12.69  26865600
2025-09-18    12.52    12.81    12.42    12.81  59380000
2025-09-19    12.55    12.61    12.38    12.55  35447400
2025-09-22    12.36    12.51    12.36    12.41  14169100
2025-09-23    12.46    12.56    12.34    12.36  14643300
2025-09-24    12.38    12.55    12.35    12.46  18134100
2025-09-25    12.46    12.62    12.32    12.39  25988200
2025-09-26    12.46    12.55    12.39    12.53  12757700
2025-09-29    12.41    12.60    12.38    12.60  21050900
2025-09-30    12.09    12.42    12.04    12.23  52485900
2025-10-01    11.99    12.19    11.88    12.19  28764000
2025-10-02    11.93    12.15    11.86    12.03  25828200
2025-10-03    11.87    11.95    11.75    11.83  21785000
2025-10-06    11.85    12.00    11.78    11.88  14804500
2025-10-07    11.71    11.86    11.71    11.79  18071700
2025-10-08    11.88    11.91    11.71    11.76  14723700
2025-10-09    11.72    11.97    11.68    11.93  28867800

In [7]:
dados_ambev.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2025-09-09 to 2025-10-09
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, ABEV3.SA)   23 non-null     object
 1   (High, ABEV3.SA)    23 non-null     int64
 2   (Low, ABEV3.SA)     23 non-null     float64
 3   (Open, ABEV3.SA)    23 non-null     float64
 4   (Volume, ABEV3.SA)  23 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.1+ KB

In [3]:
#mudar o tipo de dado de uma coluna inteira

dados_ambev['High'] = dados_ambev['High'].astype(int)
dados_ambev['Close'] = dados_ambev['Close'].astype(str)


dados_ambev

Price                    Close     High      Low     Open    Volume
Ticker                ABEV3.SA ABEV3.SA ABEV3.SA ABEV3.SA  ABEV3.SA
Date
2025-09-09  12.329999923706055       12    12.11    12.11  47583700
2025-09-10  12.359999656677246       12    12.25    12.26  40403300
2025-09-11  12.520000457763672       12    12.41    12.48  28340200
2025-09-12  12.579999923706055       12    12.43    12.43  24015800
2025-09-15  12.630000114440918       12    12.55    12.58  37293700
2025-09-16  12.710000038146973       12    12.66    12.70  40985200
2025-09-17  12.789999961853027       12    12.65    12.69  26865600
2025-09-18  12.520000457763672       12    12.42    12.81  59380000
2025-09-19  12.550000190734863       12    12.38    12.55  35447400
2025-09-22  12.359999656677246       12    12.36    12.41  14169100
2025-09-23  12.460000038146973       12    12.34    12.36  14643300
2025-09-24  12.380000114440918       12    12.35    12.46  18134100
2025-09-25  12.460000038146973       12    12.32    12.39  25988200
2025-09-26  12.460000038146973       12    12.39    12.53  12757700
2025-09-29   12.40999984741211       12    12.38    12.60  21050900
2025-09-30   12.09000015258789       12    12.04    12.23  52485900
2025-10-01  11.989999771118164       12    11.88    12.19  28764000
2025-10-02  11.930000305175781       12    11.86    12.03  25828200
2025-10-03  11.869999885559082       11    11.75    11.83  21785000
2025-10-06  11.850000381469727       12    11.78    11.88  14804500
2025-10-07  11.710000038146973       11    11.71    11.79  18071700
2025-10-08  11.880000114440918       11    11.71    11.76  14723700
2025-10-09  11.720000267028809       11    11.68    11.93  28867800

In [4]:
df_data_teste = pd.DataFrame({'datas': ["3/12/2020", "4/12/2020"],
                             'cotacoes': [20, 21]})

print(type(df_data_teste['datas'].iloc[0]))
df_data_teste

<class 'str'>

       datas  cotacoes
0  3/12/2020        20
1  4/12/2020        21

In [5]:
df_data_teste['datas'] = pd.to_datetime(df_data_teste['datas'], format = "%d/%m/%Y")

print(type(df_data_teste['datas'].iloc[0]))
print(df_data_teste['datas'].iloc[0].year)
df_data_teste

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2020

       datas  cotacoes
0 2020-12-03        20
1 2020-12-04        21

In [10]:
#como substituir dados em uma coluna? .replace

dados_euca3 = pd.read_excel('dados_bancos_b3.xlsx')

dados_euca3

,Relatório Diário de Cotações - Setembro 2025,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Data,Ticker,Abertura,Fechamento,Volume
2,2025-09-22 00:00:00,ITUB4,32.5,32.8,50000000
3,2025-09-22 00:00:00,BBDC4,15.2,15.1,45000000
4,2025-09-23 00:00:00,ITUB4,32.85,33.1,52000000
5,2025-09-23 00:00:00,BBDC4,15.05,15.25,48000000
6,2025-09-24 00:00:00,BBAS3,55.8,56.1,60000000
7,2025-09-24 00:00:00,SANB11,30.1,30,30000000
8,2025-09-25 00:00:00,BBAS3,56,56.5,62000000
9,2025-09-25 00:00:00,SANB11,29.9,29.8,31000000

In [11]:
dados_euca3['ITUB4'] = dados_euca3['ITUB4'].replace("nd", pd.NA) 

print(dados_euca3)

dados_euca3['ITUB4'] = dados_euca3['ITUB4'].replace(pd.NA, 0) 

dados_euca3

KeyError: 'ITUB4'

In [ ]:
df_strings = pd.Series(["Ordem: Compra", "Ordem: Hold"])
                        
print(df_strings.replace("Compra", "Venda"))

df_strings = df_strings.str.replace(": Compra", "- Venda")

df_strings

0    Ordem: Compra
1      Ordem: Hold
dtype: object

0    Ordem- Venda
1     Ordem: Hold
dtype: object

In [12]:
import pandas as pd

# 1. Criando nosso DataFrame com dados "errados" de ações de bancos da B3
data = {
    'id_pregao': [1001.0, 1002.0, 1003.0, 1004.0, 1005.0],
    'data_pregao': ['2025-10-06', '2025-10-06', '2025-10-07', '2025-10-07', '2025-10-08'],
    'ticker': ['ITUB4', 'BBDC4', 'ITUB4', 'BBAS3', 'BBDC4'],
    'preco_fechamento': ['R$ 29,45', 'R$ 15,80', 'R$ 29,60', 'R$ 35,90', 'R$ 15,75'],
    'volume_negociado': ['55.430.200', '70.150.800', '49.800.100', '35.200.500', '68.950.000'],
    'variacao_dia': ['+0.52%', '-0.15%', '+0.80%', '+1.10%', '-0.32%']
}
df = pd.DataFrame(data)

print("--- 1. DataFrame Original do Pregão e seus Tipos (dtypes) ---")
df.info()


# 2. Preparação: Limpeza das colunas de texto antes da conversão.
# Esta etapa é crucial para o .astype() funcionar sem erros.

# Limpando a coluna de preço
df['preco_fechamento'] = df['preco_fechamento'].str.replace('R$ ', '', regex=False)
df['preco_fechamento'] = df['preco_fechamento'].str.replace(',', '.', regex=False)

# Limpando a coluna de volume (removendo separadores de milhar)
df['volume_negociado'] = df['volume_negociado'].str.replace('.', '', regex=False)

# Limpando a coluna de variação (removendo '%' e '+')
df['variacao_dia'] = df['variacao_dia'].str.replace('%', '', regex=False)
df['variacao_dia'] = df['variacao_dia'].str.replace('+', '', regex=False)

print("\n--- 2. DataFrame após a limpeza das colunas de texto ---")
print(df)


# 3. Agora, com os dados limpos, aplicamos o .astype() para as conversões corretas!
conversoes_financeiras = {
    'id_pregao': 'int',
    'data_pregao': 'datetime64[ns]',
    'ticker': 'category', # Ótimo para tickers que se repetem
    'preco_fechamento': 'float',
    'volume_negociado': 'int64', # Volume pode ser um número grande
    'variacao_dia': 'float'
}
df_corrigido = df.astype(conversoes_financeiras)

print("\n--- 3. DataFrame Corrigido e seus Novos Tipos ---")
df_corrigido.info()

# 4. Verificando a economia de memória, especialmente com 'ticker' como 'category'
memoria_antes = df.memory_usage(deep=True).sum()
memoria_depois = df_corrigido.memory_usage(deep=True).sum()

print(f"\n--- 4. Comparação de Memória ---")
print(f"Uso de memória ANTES da conversão: {memoria_antes} bytes")
print(f"Uso de memória DEPOIS da conversão: {memoria_depois} bytes")
print(f"Economia de {(1 - memoria_depois/memoria_antes):.2%}")

print("\n--- DataFrame Final, pronto para análise! ---")
print(df_corrigido)

--- 1. DataFrame Original do Pregão e seus Tipos (dtypes) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_pregao         5 non-null      float64
 1   data_pregao       5 non-null      object
 2   ticker            5 non-null      object
 3   preco_fechamento  5 non-null      object
 4   volume_negociado  5 non-null      object
 5   variacao_dia      5 non-null      object
dtypes: float64(1), object(5)
memory usage: 368.0+ bytes

--- 2. DataFrame após a limpeza das colunas de texto ---
   id_pregao data_pregao ticker preco_fechamento volume_negociado variacao_dia
0     1001.0  2025-10-06  ITUB4            29.45         55430200         0.52
1     1002.0  2025-10-06  BBDC4            15.80         70150800        -0.15
2     1003.0  2025-10-07  ITUB4            29.60         49800100         0.80
3     1004.0  2025-10-07  BBAS3            35.90         35200500         1.10
4     1005.0  2025-10-08  BBDC4            15.75         68950000        -0.32

--- 3. DataFrame Corrigido e seus Novos Tipos ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_pregao         5 non-null      int64
 1   data_pregao       5 non-null      datetime64[ns]
 2   ticker            5 non-null      category
 3   preco_fechamento  5 non-null      float64
 4   volume_negociado  5 non-null      int64
 5   variacao_dia      5 non-null      float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(2)
memory usage: 465.0 bytes

--- 4. Comparação de Memória ---
Uso de memória ANTES da conversão: 1755 bytes
Uso de memória DEPOIS da conversão: 627 bytes
Economia de 64.27%

--- DataFrame Final, pronto para análise! ---
   id_pregao data_pregao ticker  preco_fechamento  volume_negociado  \
0       1001  2025-10-06  ITUB4             29.45          55430200
1       1002  2025-10-06  BBDC4             15.80          70150800
2       1003  2025-10-07  ITUB4             29.60          49800100
3       1004  2025-10-07  BBAS3             35.90          35200500
4       1005  2025-10-08  BBDC4             15.75          68950000

   variacao_dia
0          0.52
1         -0.15
2          0.80
3          1.10
4         -0.32

In [ ]:
import pandas as pd

# 1. Criando nosso DataFrame com uma coluna de datas "problemática"
data = {
    'data_pregao_str': ['2025-10-06', '07/10/2025', '2025-Out-08', 
                        'Pregão Interrompido', '20251009'],
    'ibov_fechamento': [115200, 115950, 116500, 116550, 117100]
}
df = pd.DataFrame(data)
print("--- 1. DataFrame Original com Datas como Texto ---")
df.info()
print(df)


# 2. Tentativa de conversão direta (vai falhar por causa dos formatos mistos e do erro)
print("\n--- 2. Tentativa de conversão direta (esperamos um erro) ---")
try:
    pd.to_datetime(df['data_pregao_str'])
except Exception as e:
    print(f"Erro esperado: {e}")

# 3. A forma correta: Usando `errors='coerce'` para lidar com os problemas
print("\n--- 3. Convertendo com `errors='coerce'` ---")
df['data_pregao'] = pd.to_datetime(df['data_pregao_str'], dayfirst=True, errors='coerce')
df.info()
print(df)
print("\nRepare como 'Pregão Interrompido' virou NaT (Not a Time).")

# 4. O Poder do Acessor `.dt`: Extraindo informações da data
print("\n--- 4. Usando o acessor `.dt` para extrair informações ---")
df_final = df.dropna() # Removemos a linha com NaT para a análise
df_final['ano'] = df_final['data_pregao'].dt.year
df_final['mes'] = df_final['data_pregao'].dt.month
# Requer `locale` instalado
# Use the command locale -a on your terminal on Unix systems 
# to find your locale language code.
df_final['dia_da_semana'] = df_final['data_pregao'].dt.day_name(locale='pt_BR.utf8') 

print(df_final[['data_pregao', 'ano', 'mes', 'dia_da_semana']])

--- 1. DataFrame Original com Datas como Texto ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_pregao_str  5 non-null      object
 1   ibov_fechamento  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
       data_pregao_str  ibov_fechamento
0           2025-10-06           115200
1           07/10/2025           115950
2          2025-Out-08           116500
3  Pregão Interrompido           116550
4             20251009           117100

--- 2. Tentativa de conversão direta (esperamos um erro) ---
Erro esperado: time data "07/10/2025" doesn't match format "%Y-%m-%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

--- 3. Convertendo com `errors='coerce'` ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_pregao_str  5 non-null      object
 1   ibov_fechamento  5 non-null      int64
 2   data_pregao      1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 248.0+ bytes
       data_pregao_str  ibov_fechamento data_pregao
0           2025-10-06           115200  2025-06-10
1           07/10/2025           115950         NaT
2          2025-Out-08           116500         NaT
3  Pregão Interrompido           116550         NaT
4             20251009           117100         NaT

Repare como 'Pregão Interrompido' virou NaT (Not a Time).

--- 4. Usando o acessor `.dt` para extrair informações ---
  data_pregao   ano  mes dia_da_semana
0  2025-06-10  2025    6         Terça

/tmp/ipykernel_120750/3001945762.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['ano'] = df_final['data_pregao'].dt.year
/tmp/ipykernel_120750/3001945762.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['mes'] = df_final['data_pregao'].dt.month
/tmp/ipykernel_120750/3001945762.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['dia_da_semana'] = df_final['data_pregao'].dt.day_name(locale='pt_BR.utf8') # Requer `locale` instalado

In [ ]:
import pandas as pd
import numpy as np

# 1. Criando nosso DataFrame com dados inconsistentes
data = {
    'ticker': ['PETR4', 'VALE3', 'MGLU3', 'BBDC4', 'ITUB4'],
    'corretora': ['Clear', 'Xp Investimentos', 'Rico', 'clear', 'XP'],
    'lado_operacao': [1, 1, -1, 1, -1], # 1 para Compra, -1 para Venda
    'setor': ['Petróleo', 'Mineração', 'Varejo', 'Financeiro', 'N/D'] # N/D = Não Definido
}
df = pd.DataFrame(data)

print("--- 1. DataFrame Original com Dados Inconsistentes ---")
print(df)


# 2. Usando LISTAS para padronizar as corretoras
# Queremos que todas as variações de 'Clear' e 'XP' sejam padronizadas.
print("\n--- 2. Padronizando as corretoras ---")
valores_antigos = ['Xp Investimentos', 'XP', 'clear']
valores_novos = ['XP', 'XP', 'Clear']
df_corrigido = df.replace(to_replace=valores_antigos, value=valores_novos)
print(df_corrigido)


# 3. Usando um DICIONÁRIO para recodificar e tratar "missing"
# Esta é a forma mais poderosa e legível!
print("\n--- 3. Recodificando 'lado_operacao' e tratando 'N/D' ---")
mapa_de_substituicao = {
    'lado_operacao': {1: 'Compra', -1: 'Venda'},
    'setor': {'N/D': np.nan}
}
# Note que aqui estamos usando um dicionário aninhado para especificar as colunas
df_corrigido = df_corrigido.replace(mapa_de_substituicao)
print(df_corrigido)


# 4. Verificando os tipos de dados após a substituição
print("\n--- 4. Info do DataFrame final ---")
df_corrigido.info()
# Agora podemos usar .fillna() na coluna 'setor' se quisermos!

--- 1. DataFrame Original com Dados Inconsistentes ---
  ticker         corretora  lado_operacao       setor
0  PETR4             Clear              1    Petróleo
1  VALE3  Xp Investimentos              1   Mineração
2  MGLU3              Rico             -1      Varejo
3  BBDC4             clear              1  Financeiro
4  ITUB4                XP             -1         N/D

--- 2. Padronizando as corretoras ---
  ticker corretora  lado_operacao       setor
0  PETR4     Clear              1    Petróleo
1  VALE3        XP              1   Mineração
2  MGLU3      Rico             -1      Varejo
3  BBDC4     Clear              1  Financeiro
4  ITUB4        XP             -1         N/D

--- 3. Recodificando 'lado_operacao' e tratando 'N/D' ---
  ticker corretora lado_operacao       setor
0  PETR4     Clear        Compra    Petróleo
1  VALE3        XP        Compra   Mineração
2  MGLU3      Rico         Venda      Varejo
3  BBDC4     Clear        Compra  Financeiro
4  ITUB4        XP         Venda         NaN

--- 4. Info do DataFrame final ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ticker         5 non-null      object
 1   corretora      5 non-null      object
 2   lado_operacao  5 non-null      object
 3   setor          4 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

# Exercícios

* Exercício 68: Puxe cotações da MGLU3.SA do yahoo finance e converta a coluna de fechamento ajustado para int.
* Exercício 69: Crie uma série de dados com os seguinte valores: 20, 30, NA, 25, 22, NA, 17. A partir dessa série:

       - Preencha os dados de NA com o valor "0"
       - Calcule os retornos diários.
       - Retire os retornos "NA"
       - Subistua os valores -1 e infinito por zero.

In [ ]:
#gabarito 68

dados_mglu = yf.download("MGLU3.SA")['Close']

dados_mglu = dados_mglu.astype(int)

dados_mglu

Date
2017-10-02    2
2017-10-03    2
2017-10-04    2
2017-10-05    2
2017-10-06    2
             ..
2022-09-23    4
2022-09-26    4
2022-09-27    4
2022-09-28    4
2022-09-29    4
Name: Close, Length: 1242, dtype: int32

In [ ]:
#gabarito 69
import numpy as np

serie_dados = pd.Series([20, 30, pd.NA, 25, 22, pd.NA, 17])

serie_dados = serie_dados.fillna(0)

retornos = []

for i, dado in enumerate(serie_dados):
    
    if i == 0:
        
        retornos.append(pd.NA)
    
    else:
        
        retorno = serie_dados[i]/serie_dados[i - 1] - 1
        
        retornos.append(retorno)
        
        
serie_retornos = pd.Series(retornos)

serie_retornos = serie_retornos.dropna()

serie_retornos = serie_retornos.replace([-1, np.inf], 0) #sempre pensem em listas quando precisar de mais de 1 elemento

serie_retornos

C:\Users\lsiqu\AppData\Local\Temp\ipykernel_7756\1335273469.py:18: RuntimeWarning: divide by zero encountered in longlong_scalars
  retorno = serie_dados[i]/serie_dados[i - 1] - 1

1    0.50
2    0.00
3    0.00
4   -0.12
5    0.00
6    0.00
dtype: float64

# Volume 19

Na próxima aula nós vamos aprender sobre algo muito importante: como alterar todos os dados de uma coluna de acordo com a nossa preferência? Por exemplo, como transformar uma coluna de rentabilidade diária média de uma ação em rentabilidade ao ano?